

{{!-- create radio buttons for each burgers --}}
<div>
	<label>
         <input  name="burgersradio" type="radio" value="{{id}}"data-id="{{id}}" data-burgerstate="{{devoured}}" />
         <span class="white-text">{{burger_name}}</span>
     </label>
</div>
